*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family:'Times New Roman', Times, serif;
}

header {
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    background-color:rgb(45, 105, 233);
    padding-top: 20px;
    padding-bottom: 15px;
}

section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    background-color: white;
}

section h2 {
    font-size: 2rem;
}

form {
    min-width: 350px;
    max-width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgb(0, 0, 0, 0.3) ,
    0 15px 12px rgb(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 30px;
    margin-top: 20px;
}

.img_form {
    width: 220px;
}

.labelContainer {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.labelContainer img {
    width: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

label {
    font-size: 1.6rem;
    margin-top: 15px;
}

input {
    width: 200px;
    height: 40px;
    border-radius: 12px;
    opacity: 0.4;
    margin-top: 15px;
    background-color: rgba(75, 79, 92, 0.589);
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

button {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 1.3rem;
    color: white;
    background-color: rgb(45, 105, 233);
}

p {
    display: inline;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 20px;
}